# init crea i socket dichiarati nei .rc del vendor. Quelli di VoLTE e di BIP
# non portano un contesto esplicito, quindi ereditano socket_device:
#
#   denied { create } for name="volte_imsa2" scontext=u:r:init:s0
#     tcontext=u:object_r:socket_device:s0 tclass=sock_file
#
# Gli altri sono volte_ut e vendor.bip.
allow init socket_device:sock_file { create setattr unlink };

