# S88ProParts legge e scrive i LED di notifica, e per arrivarci deve
# attraversare /sys/class/leds. Senza questa regola l'app parte ma i LED non
# rispondono, e nel registro compare, quattro volte per avvio:
#
#   avc: denied { search } for comm="settings.doogee" name="leds"
#        scontext=u:r:system_app:s0 tcontext=u:object_r:sysfs_leds:s0 tclass=dir
#
# Entrambi i tipi sono AOSP (sysfs_leds sta in system/sepolicy/public/file.te),
# quindi la regola si puo' scrivere qui: e' fra tipi di sistema, non tocca il
# vendor.
allow system_app sysfs_leds:dir search;
allow system_app sysfs_leds:file rw_file_perms;
